@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Shop</h1>
</div>

<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" onchange="this.form.submit()"></select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select asp-for="BrandId" asp-items="Model.Brands" class="form-control" onchange="this.form.submit()"></select>
            </div>
        </div>
    </div>
</form>

@if (Model.Products.Count > 0)
{
    <div class="row">

        @foreach (var product in Model.Products)
        {
            <partial name="_ProductPartial" model="product" />
        }
    </div>
    <partial name="_PaginationPartial" model="Model.PaginationInfo" />
}
else
{
    <div class="text-center my-5">
        No products found based on your search...
    </div>
}


